*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.profil{
    background-color: blanchedalmond;
    padding: 30px 200px 300px 200px;
    justify-content: center;
    display: flex;
    align-items: center;
    /* margin: auto;
    width: 600px; */
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}